---
title: Home
layout: layout.njk
---
<h2>Load an item through the NFSA API:</h2>
<div id="objectsContainer"></div>

<script>
  async function getData(query) {
    const url = "https://api.collection.nfsa.gov.au/search?query=" + query;
    try {
      const response = await fetch(url);
      if (! response.ok) {
        throw new Error(`Response status: ${
          response.status
        }`);
      }
      console.log(response);
      const data = await response.json();
      console.log(data);
      let item = data.results[0];
      // 1. create a container
      const itemContainer = document.createElement("div");
      // 2. use template literals to easily embed the data in the string
      itemContainer.innerHTML = `<h2>${
        item.title
      }</h2><p>${
        item.name
      }</p>`;
      // 3. append to the page
      let targetObject = document.getElementById("objectsContainer");
      targetObject.appendChild(itemContainer);
      // // 1. create a container const itemContainer = document.createElement('div'); // 2. create our html tags const title
      // = '<h2>'+ item.title + '</h2>'; // 3. add all the html tags to the listItem itemContainer.innerHTML = title ; // 4.
      // append to the page objectsContainer.appendChild(itemContainer);
    } catch (error) {
      console.error(error.message);
    }
  }
  getData("cat");
</script>