---
title: Week6
layout: layout.njk
---

{# <h1>Objects</h1> #}
<div id="objectsContainer"></div>
<hr/>
<div id="moreContainer" style="text-align: center; margin-top: 20px">
  <button id="moreBtn" style="display: none">More</button>
</div>
<script type="text/javascript" src="{{'/js/week6.js' | url}}" defer="defer"></script>