{# use to pass text to js instead of traditional search #}
<label class="visually-hidden" for="searchInput">Search:</label>
<input name="searchInput" type="text" id="searchInput" placeholder="Search NFSA Collection...">